<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Default CV Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./stylesheet.css" />
</head>
<body>
    <h1 id="heading">Curriculum Vitae</h1>
    <div class="basic-info">
        <div>
            <p>Name</p>
            <p>Felipe Cavalcate Constantino</p>
        </div>
        <div>
            <p>Phone Number</p>
            <p>011 00009999</p>
        </div>
        <div>
            <p>Birthdate</p>
            <p>01/01/90</p>
        </div>
        <div>
            <p>E-mail</p>
            <p>some.email@mail.com</p>
        </div>
        <div>
            <p>GitHub</p>
            <a class="info" href="github.com/fconstant">github.com/fconstant</a>
        </div>
        <div>
            <p>LinkedIn</p>
            <p>011 971765991</p>
        </div>
        <div>
            <p>Address</p>
            <p>Whatever St. 200 - Sample City</p>
        </div>
        <div>
            <p>Nationality</p>
            <p>Brazillian</p>
        </div>
        <div>
            <p>Marital Status</p>
            <p>Single</p>
        </div>
    </div>
    <div class="category-content">

    </div>
</body>
</html>